:root {
  --font: "Open Sans", sans-serif;
  --blue: #005bd1;
  --gray: rgb(150, 150, 150);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font);

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #083063;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.container {
  margin: 5px;
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1430px;
    margin: auto;
  }
}

.header {
  margin: 15px;
}

.header h1 {
  font-family: var(--font);
  font-size: 60px;
  color: var(--blue);
}

.header a {
  font-size: 20px;

  text-transform: lowercase;

  text-decoration: none;

  transition: 0.3s;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}

.header a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.about {
  margin: 15px;
  margin-top: 20px;
}
.about p {
  font-family: var(--font);
  font-size: 17.5px;
  line-height: 29px;
}

.about-emphasis {
  color: var(--blue);
}

.separator {
  margin: 30px 15px;
  border-top: thin solid rgb(228, 228, 228);
}

.controls {
  margin: 15px;
}

/* @media only screen and (max-width: 767px) {
  .controls {
    display: none;
  }
} */

.controls .control {
  background: none;
  border: none;
  margin: 0px 2.5px;
  padding: 5px;
  color: var(--gray);
  font-size: 17.5px;
  text-transform: uppercase;

  cursor: pointer;
  transition: 0.3s;
}

.control:hover {
  color: black;
}

.controls .active {
  color: black;
}

.mixitup-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.mix {
  width: 100%;
  min-height: 100px;

  margin: 20px 15px;

  cursor: pointer;
}

@media only screen and (min-width: 541px) {
  .mix {
    width: calc((100% - 60px) / 2);
  }
}

@media only screen and (min-width: 1000px) {
  .mix {
    width: calc((100% - 90px) / 3);
  }
}

.mix .img-container {
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 7.5px;
  margin-bottom: 10px;
}

.mix img {
  width: 100%;
  height: auto;

  display: block;

  border-radius: 7.5px;

  /* margin-bottom: 7.5px; */

  transition: 0.3s;
  transform: scale(1);
}

.mix:hover img {
  transform: scale(1.2);
}

.mix h2 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--gray);

  margin-bottom: 3px;
}

.mix h1 {
  font-family: "Lato", sans-serif;

  margin-top: -5px;
  margin-bottom: 7.5px;

  display: inline-block;
}

.mix h1 {
  position: relative;
  color: #000;
  text-decoration: none;
}
/* .mix h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.mix:hover h1::before {
  visibility: visible;
  transform: scaleX(1);
} */

.mix h1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  right: 0;
  background: #000;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.mix:hover h1:after {
  width: 100%;
  left: 0;
  background: #000;
}

.mobile-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;
}
.mobile-footer .email {
  margin-bottom: 5px;
}
.mobile-footer .phone {
  margin-bottom: 15px;
}

.footer {
  margin: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  padding-bottom: 20px;
}

.accounts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.accounts a {
  margin: 0 7.5px;

  text-transform: lowercase;
  text-decoration: none;

  transition: 0.3s;
  border-bottom: 1px solid var(--gray);
  color: var(--gray);
}

.footer .accounts {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.footer .accounts a {
  margin: 0 10px;
}

.accounts a:hover {
  color: black;
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 769px) {
  .mobile-footer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
